<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <div>
    <a href="/auth/google">Inicia sesión con Google</a>
  </div>

  <br><br>

  <button>Inicia sesión</button>

  <p class="account-message">
    ¿No tienes una cuenta?
    <a href="/auth/signup">Crear cuenta</a>
  </p>
</form>