<h2>Crea tu cuenta</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="JonSnow@gmail.com">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="password">
  <br>
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <div>

    <a href="/auth/google">Inicia sesión con Google</a>
  </div>

  <br><br>

  <button>Crear cuenta</button>

  <p class="account-message">
    ¿Ya tienes una cuenta?
    <a href="/auth/login">Inicia sesión</a>
  </p>
</form>