body {
  padding: 0;
  font: 14px "Courier", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

nav {
  background-color: orangered;
}

.card-img-top {
  height: 100px;
  object-fit: cover;
}

.stats {
  padding-left: 0px;
  margin: 0px;
}

.stats li {
  list-style-type: none;
  display: inline;
  background-color: orangered;
  color: white;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
}

.link-div {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-div button {
  margin: 3px;
}

.table-container {
  margin: 10px;
  border: 1px solid grey;
}

.table {
  text-align: center;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.thumbnail-index {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-bottom: 10px;
}
.newStore {
  background-color: orangered;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  width: 8rem;
  height: 3rem;
}
.newStore a {
  color: white;
}
#modalAnchor {
  color: #00b7ff;
  cursor: pointer;
}
