<h1>Create a new product</h1>
<hr>
<form action="/new" method="POST">
<label for="name">Nombre del producto</label>
<input type="text" name="name">
<br><br>
<label for="type">Tipo del producto</label>
<input type="text" name="type">
<br><br>
<label for="store">Tienda</label>
<input type="text" name="store">
<br><br>
<label for="priceUser">Precio</label>
<input type="number" name="priceUser">
<br><br>
<button type="submit">Crear</button>
</form>